body {
    background: linear-gradient(to right, #ffc5c4, #6b9ae0);
}

.clock {
    font-size: 50px;
    display: flex;
    width: 600px;
    justify-content: center;
    line-height: 60px;
    border-radius: 10px;
    margin: auto;
    margin-top: 110px;
}