body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

li {
  list-style: none;
}

.loadingPage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box{
  height: 200px;
  transition: all 0.2s ease;
}

.loader{
  position: relative;
  width: 300px;
  height: 45px;
  background: silver;
  font-size: 15px;
  line-height: 1.5;
  border: 0;
  border-radius: 15px;
}

.loader:before{
  content: "";
  position: absolute;
  background-color: aqua;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 0px;
  z-index: 0;
  opacity: 1;
  -webkit-transform-origin:  100% 0%;
      transform-origin:  100% 0% ;
  -webkit-animation: loader 4s ease-in-out ;
      animation: loader 4s ease-in-out ;
}

.loader:after{
  content: "로딩중 ...";
  color: black;
  font-family:  Lato,"Helvetica Neue" ;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: 0;
}

@-webkit-keyframes loader{
    0%{width: 0px;}
    100%{opacity: 1; width: 100%;}
}

@keyframes loader{
    0%{width: 0px;}
    100%{opacity: 1; width: 100%;}
}



/* 이용약관 이메일 페이지 */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_container {
  width: 550px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: inherit;
  height: 70px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

main {
  width: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 550px;
}

.main {
  padding: 40px;
}

.navigation {
  width: inherit;
  height: 5px;
  background: red;
}

.navigation_bar {
  width: 0;
  height: 5px;
  background: green;
}

.form_p {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form_btn {
  width: inherit;
  height: 45px;
  background: #fee500;
  margin-top: 40px;
}

.form_btn button:hover {
  background: #f1d900;
}

.form_btn button {
  width: 100%;
  height: 45px;
  background: #fee500;
  font-size: 15px;
  line-height: 1.5;
  border: 0;
  border-radius: 4px;
}

/* 메인 페이지 */

#clock{
  color: blue;
  text-align: center;
  width: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 550px;
}

#camera {
  width: 400px;
  height: 400px;
  margin: auto;
}

a {
  text-decoration: none;
  color: red;
  text-align: center;
}

#auth {
  width: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#numberText {
  width: 150px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  background: transparent;
  font-size: 30px;
  outline: none;
  text-align: center;
}
